//bg
$bg-blur: blur(3px);
$bg-overlay-color: rgba(0, 0, 0, 0.5);

// text
$text-primary: #0A0A0A;
$text-primary-inv: #FAFAFA;
$text-secondary: #737373;

// buttons
$buttons-primary-default: #171717;
$buttons-primary-hover: hsl(0 0% 9% / 0.9);

//inputs
$inputs-default: #ffffff38;
$inputs-hover: #ffffffb2;
$inputs-focused: #f2f059;
$inputs-disabled: #ffffff29;

//extra
$extra-highlight: #ec704b;

//border
$border: hsl(0 0% 89.8%);
